<section>
    <div class="container-fluid mt-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row d-flex flex-row align-items-center justify-content-center"
                    style="width: 90%;height: 50px;background-color: rgb(194, 189, 183);">
                    <table>
                        <tr>
                            <td><h3>{{this.Name}}</td></h3>

                        </tr>
                        <tr><td>{{this.Category}}</td></tr>
                    </table>


                </div>
            </li>

        </ul>
    </div>
</section>