<section class="vh-100">
  <div class="container-fluid h-custom" style="margin-top: 10rem;">
    <div class="row d-flex justify-content-center align-items-center"></div>
    <div class="d-flex flex-row align-items-center justify-content-center ">
      <p class="lead fw-normal mb-0 me-3">
      <h3>Register in CoreRent</h3>
      </p>
      <br>
      <hr>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form action="/signup" method="post">

          <!-- Name input -->
          <div class="form-outline mb-4 ">
            <label class="form-label ms-2" for="registerName">Full Name</label>
            <input type="text" name="registerName" class="form-control" placeholder="Enter your FullName" required />
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-2" for="registerUsername">Username</label>
            <input type="text" name="registerUsername" class="form-control" placeholder="Enter UserName" required />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-2" for="registerEmail">Email</label>
            <input type="email" name="registerEmail" class="form-control" placeholder="Enter your Valid Email-id"
              required />
          </div>

          <!-- Phone input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-2" for="registerPhone">PhoneNo</label>
            <input type="text" name="registerPhone" class="form-control" placeholder="Enter your Valid PhoneNo"
              required />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-2" for="registerPassword">Password</label>
            <input type="password" name="registerPassword" class="form-control" placeholder="Enter Password"
              autocomplete="off" required />
          </div>

          <!-- Repeat Password input 
          <div class="form-outline mb-4">
            <label class="form-label ms-2" for="registerRepeatPassword">Repeat password</label>
            <input type="password" name="registerRepeatPassword" class="form-control" placeholder=" Ree Enter Password"
              autocomplete="off" required />
          </div>-->

          <!-- Checkbox
          <div class="form-check d-flex mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" name="registerCheck"
              aria-describedby="registerCheckHelpText" required />
            <label class="form-check-label" for="registerCheck">I have read and agree to the terms</label>
          </div> -->


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?<i class="bi bi-arrow-right"></i> <a
                href="/signin" class="link-danger">Sign in</a>
            </p>
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</section>