

.img-slide{
  width: 1200px;
  height: 300px;
}
.navtab{
padding-top: 20px;

}
.search{
 width: 200px;
 height: fit-content;
 margin: 10px;
}
.signin{
  width: 20px;
  height: fit-content;
  margin: auto;
}
.search-input{

  margin: 10px;
}

